.advantages {
  width: 100%;
  padding: 108px 0 70px;
  margin: 0 auto;
  background-color: $color-ghost-white;
  color: $color-default-sapphire;

  @include vp-1199 {
    padding: 93px 45px 92px;
  }

  @include vp-767 {
    padding: 62px 0 60px;
  }
}

.advantages__wrapper {
  @include vp-767 {
    padding: 0;
  }

  h2 {
    padding: 0;
    margin: 0;
    font-family: $ff-primary;
    font-weight: 600;
    font-size: 54px;
    line-height: 64.8px;
    letter-spacing: 1.8px;
    text-align: center;

    @include vp-1199 {
      font-size: 42px;
      line-height: 50.4px;
      letter-spacing: 1.2px;
    }

    @include vp-767 {
      font-size: 32px;
      line-height: 38.4px;
      letter-spacing: 0.8px;
    }
  }

  h6 {
    padding: 0;
    margin: 0;
    font-family: $ff-secondary;
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;

    @include vp-1199 {
      font-size: 20px;
      line-height: 30px;
    }

    @include vp-767 {
      margin-bottom: 15px;
    }
  }

  p {
    margin: 0;
  }
}

.advantages__list {
  list-style: none;
  margin: 0 auto;
  padding: 30px 0 0;
  max-width: 1040px;
  display: grid;
  grid-template-columns: 1fr 240px 1fr;
  gap: 56px 60px;

  @include vp-1199 {
    grid-template-columns: repeat(2, 1fr);
    gap: 27px;
    padding-top: 27px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    gap: 20px 0;
  }
}

.advantages__item {
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 30px;
  padding-bottom: 23px;

  @include vp-1199 {
    padding-bottom: 0;
  }

  @include vp-767 {
    display: block;
    text-align: center;
    padding: 0 46px;
  }
}

.advantages__item:nth-child(-n+2) {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: calc(100% + 23px);
    right: 0;
    width: 340px;
    height: 2px;
    background-color: $color-crimson;
    opacity: 0.2;

    @include vp-1199 {
      display: none;
    }
  }
}

.advantages__item p {
  display: block;
  font-family: $ff-secondary;
  font-weight: 700;
  font-size: 71px;
  line-height: 106.5px;
  color: transparent;
  background-color: #ffffff;
  background-image: $torch-crimson-to-cobalt;
  background-clip: text;

  @include vp-1199 {
    font-size: 58px;
    line-height: 89px;
  }
}

.advantages__item span {
  padding: 0;
  margin: 0;
  display: block;
  margin-top: -23px;
  font-family: $ff-secondary;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $color-persian-blue;

  @include vp-1199 {
    margin-top: -20px;
    font-size: 14px;
    line-height: 21px;
  }
}

.advantages__item--space {
  padding-left: 20px;

  @include vp-1199 {
    padding-left: 0;
  }

  @include vp-767 {
    padding-left: 46px;
  }
}


.advantages__item--parking {
  @include vp-1199 {
    grid-column: 2 / 3;
    grid-row: 1/2;
  }

  @include vp-767 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
}

.advantages__item--gyms {
  grid-column: 2 / 3;
  grid-row: 1 / span 2;
  margin: 28px 0 59px;
  padding: 36px 20px 56px;
  display: block;
  text-align: center;
  background-color: $color-resolution-blue;
  color: $color-default-white;

  @include vp-1199 {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    width: 100%;
    max-width: 442px;
    margin: 23px auto 0;
    padding: 15px 115px 37px;
  }

  @include vp-767 {
    margin: 27px auto 10px;
    padding: 20px 55px 43px;
    grid-row: 3/4;
  }

  p {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-family: $ff-secondary;
    font-weight: 700;
    font-size: 74px;
    line-height: 111px;
    background: $color-default-white;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    @include vp-1199 {
      margin-top: -10px;
    }
  }
}

.advantages__description {
  margin-top: 20px;

  @include vp-1199 {
    margin-top: 8px;
  }

  h6 {
    margin-bottom: 5px;

    @include vp-1199 {
      margin: 8px 0 2px;
    }

    @include vp-767 {
      margin: 6px 0 0;
    }
  }

  p {
    padding: 0;
    margin: 0;
    font-family: $ff-secondary;
    font-weight: 300;
    font-size: 16px;
    line-height: 22.4px;
    color: $color-default-sapphire;
    background-image: none;

    @include vp-767 {
      text-align: center;
    }
  }

  &--space {
    @include vp-767 {
      h6 {
        margin: 0;
      }
    }
  }


  &--gyms {
    margin-top: 0;

    h6 {
      padding: 0;
      margin: -16px 0 32px;
      font-family: $ff-secondary;
      font-weight: 700;
      font-size: 26px;
      line-height: 39px;

      @include vp-1199 {
        margin: -21px 0 16px;
        font-size: 22px;
        line-height: 30px;
      }

      @include vp-767 {
        margin: -18px 0 9px;
      }
    }

    p {
      font-family: $ff-secondary;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: $color-default-white;
    }
  }
}

.advantages__item--comfort {
  margin-top: 23px;
  padding-left: 20px;
  padding-bottom: 0;

  @include vp-1199 {
    margin-top: 0;
    padding-left: 0;
  }

  @include vp-767 {
    padding-left: 46px;
    grid-row: 4 / 5;
  }
}

.advantages__item--experience {
  margin-top: 25px;
  column-gap: 35px;

  @include vp-1199 {
    margin-top: 0;
  }

  @include vp-767 {
    grid-row: 5/6;
    column-gap: 0;
  }
}
