.feedback__wrapper {
  position: relative;
  margin: 0 auto;
  padding: 138px 103px 120px;
  max-width: 1366px;
  width: 100%;

  @include vp-1199 {
    padding: 95px 45px 100px;
  }

  @include vp-767 {
    padding: 66px 15px 69px;
  }

  h2 {
    padding: 0;
    margin: 0;
    margin-bottom: 36px;
    font-family: $ff-primary;
    font-weight: 600;
    font-size: 54px;
    line-height: 64.8px;
    letter-spacing: 1.2px;
    text-align: center;

    @include vp-1199 {
      margin-bottom: 42px;
      font-size: 42px;
      line-height: 50.4px;
      letter-spacing: 1.2px;
    }

    @include vp-767 {
      margin-bottom: 42px;
      font-size: 32px;
      line-height: 38.4px;
      letter-spacing: 1.2px;
    }
  }
}

.feedback__swiper {
  width: 560px;

  @include vp-1199 {
    width: 566px;
  }

  @include vp-767 {
    width: 226px;
  }
}

.feedback__swiper-wrapper {
  color: $color-default-white;
  cursor: grab;
}

.feedback__slide {
  display: flex;
  height: 100%;
  position: relative;
  padding: 56px 55px 58px 62px;
  background-color: $color-resolution-blue;
  filter: drop-shadow(0 0 40 $color-resolution-blue);

  @include vp-1199 {
    padding: 55px 55px 58px 65px;
  }

  @include vp-767 {
    padding: 48px 17px 33px;
  }

  h6 {
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    font-family: $ff-secondary;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;

    @include vp-767 {
      line-height: 26px;
      margin-bottom: 23px;
    }
  }

  p {
    padding: 0;
    margin: 0;
    font-family: $ff-secondary;
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
    text-align: left;

    @include vp-767 {
      text-align: center;
    }
  }
}

.feedback__avatar {
  width: 100%;
  max-width: 80px;
  margin: 0;
  margin-right: 26px;
  margin-top: 4px;
  margin-bottom: auto;
  display: flex;
  flex-grow: 1;
  border-radius: 50%;
  background-color: $color-bright-grey;

  @include vp-767 {
    position: absolute;
    width: 68px;
    height: 68px;
    top: 35px;
    left: 41px;
  }

  img {
    border-radius: 50%;
    background-color: $color-bright-grey;
    padding: 0;
    width: 100%;
    max-width: 80px;
    object-fit: cover;
  }
}

.feedback__description {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  @include vp-767 {
    h6 {
      margin-left: 108px;
    }
  }
}

.feedback__swiper-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 59%;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 32px;
  z-index: 2;
  cursor: pointer;

  &--prev {
    top: calc(71% - 66px);
    left: calc((100% - 560px) / 2 - 76px);
    transform: translate(0, -50%);
    background-image: url("../img/sprite/icon-arrow-prev.svg");

    &:hover,
    &:focus-visible {
      background-image: url("../img/sprite/icon-arrow-prev-hf.svg");
      background-size: 56px 56px;
      outline: none;

      @include vp-767 {
        width: 32px;
        height: 32px;
        background-size: 32px 32px;
      }
    }

    &:active {
      background-image: url("../img/sprite/icon-arrow-prev-active.svg");
      background-size: 56px 56px;

      @include vp-767 {
        width: 32px;
        height: 32px;
        background-size: 32px 32px;
      }
    }
  }

  &--next {
    top: calc(62% - 66px);
    right: calc((100% - 560px) / 2 - 76px);
    transform: translate(0, -50%);
    rotate: 180deg;
    background-image: url("../img/sprite/icon-arrow-prev.svg");

    &:hover,
    &:focus-visible {
      rotate: 180deg;
      background-image: url("../img/sprite/icon-arrow-prev-hf.svg");
      background-size: 56px 56px;
      outline: none;

      @include vp-767 {
        top: calc(57% - 32px);
        width: 32px;
        height: 32px;
        background-size: 32px 32px;
      }
    }

    &:active {
      background-image: url("../img/sprite/icon-arrow-prev-active.svg");
      background-size: 56px 56px;

      @include vp-767 {
        top: calc(57% - 32px);
        width: 32px;
        height: 32px;
        background-size: 32px 32px;
      }
    }
  }

  @include vp-1199 {
    top: 58%;

    &--prev {
      left: 25px;
    }

    &--next {
      top: calc(58% - 56px);
      right: 25px;
    }
  }

  @include vp-767 {
    top: 58%;
    width: 20px;
    height: 20px;
    background-size: 10px 19px;
    transform: translate(0, -48%);

    &--prev {
      top: 56.5%;
      left: 5px;
    }

    &--next {
      top: calc(63% - 56px);
      right: 0;
    }
  }
}

.feedback__swiper-button--prev.feedback__button-disabled {
  background-image: url("../img/sprite/icon-arrow-prev-dis.svg");
  background-size: 16px 32px;
  background-repeat: no-repeat;
  pointer-events: none;
}

.feedback__swiper-button--next.feedback__button-disabled {
  background-image: url("../img/sprite/icon-arrow-prev-dis.svg");
  background-size: 16px 32px;
  background-repeat: no-repeat;
  pointer-events: none;
}
