.free-lesson {
  width: 50%;
  background-color: $color-default-sapphire;
  color: $color-default-white;

  @include vp-1199 {
    width: 100%;
    margin: 0 auto;
  }
}

.free-lesson__wrapper {
  width: 100%;
  max-width: 683px;
  padding: 57px 170px 68px 105px;
  margin-left: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(auto 1fr 1fr);
  gap: 10px 30px;

  @include vp-1199 {
    max-width: 100%;
    margin: 0 auto;
    padding: 61px 161px 68px 131px;
    gap: 25px 60px;
  }

  @include vp-767 {
    padding: 65px 15px 69px 15px;
    margin-top: 0;
    gap: 0;
    display: flex;
    // align-items: flex-start;
    flex-wrap: wrap;
  }

  h2 {
    margin: 0;
    grid-column: 1/3;
    font-family: $ff-primary;
    font-weight: 600;
    font-size: 54px;
    line-height: 81.24px;
    letter-spacing: 2.2px;
    text-align: left;

    @include vp-1199 {
      font-size: 42px;
      line-height: 50.4px;
      letter-spacing: 1.5px;
      text-align: left;
    }

    @include vp-767 {
      margin-bottom: 29px;
      font-size: 32px;
      line-height: 38.4px;
      letter-spacing: 1px;
    }
  }

  button {
    margin-top: 17px;
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    width: 100%;
    color: $color-default-white;
    border: 3px solid $color-default-white;
    background-color: transparent;
    font-family: $ff-secondary;
    font-weight: 700;
    font-size: 14px;
    line-height: 16.41px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    padding: 16px 160px;
    cursor: pointer;
    user-select: none;

    @include vp-1199 {
      margin-top: 7px;
      padding: 15px 0;
    }

    @include vp-767 {
      width: 100%;
      margin-top: 12px;
      // margin-top: -26px;
      padding: 16px 0;
    }

    &:hover,
    &:focus {
      color: $color-egyptian-blue;
      background-color: $color-default-white;
      outline: none;
    }

    &:active {
      color: $color-default-sapphire;
    }
  }
}

.free-lesson__input {
  display: flex;
  flex-direction: column;

  flex-wrap: wrap;

  input {
    position: relative;
    padding: 15px 10px 6px 0;
    color: $color-default-white;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $color-default-white;
    font-family: $ff-secondary;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.41px;

    &::placeholder {
      color: $color-default-white;
    }

    @include vp-1199 {
      padding: 13px 10px 3px 0;
    }

    @include vp-767 {
      padding: 11px 10px 5px 0;
    }
  }

  @include vp-767 {
    width: 100%;
    margin-bottom: 26px;
  }
}
