.free-lesson {
  width: 50%;
  padding: 54px 170px 50px 105px;
  background-color: $color-default-sapphire;
  color: $color-default-white;
  max-height: 337px;

  @include vp-1199 {
    width: 100%;
    margin: 0;
    padding: 65px 163px 65px 133px;
  }

  @include vp-767 {
    max-height: 386px;
    padding: 65px 15px 70px 15px;
  }

  h2 {
    padding: 0;
    margin: 0;
    margin-left: -25px;
    margin-bottom: 10px;
    font-family: $ff-primary;
    font-weight: 600;
    font-size: 54px;
    line-height: 81.24px;
    letter-spacing: 2.2px;
    -webkit-text-stroke-width: 2px;
    text-align: center;

    @include vp-1199 {
      font-size: 42px;
      line-height: 50.4px;
      letter-spacing: 1.5px;
      -webkit-text-stroke-width: 0;
      text-align: left;
      margin-left: 0;
      margin-bottom: 28px;
    }

    @include vp-767 {
      font-size: 32px;
      line-height: 38.4px;
      letter-spacing: 1px;
    }
  }
}

.free-lesson__wrapper {
  width: 100%;
  margin-top: -10px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: repeat(2, auto);
  gap: 30px 10px;

  @include vp-1199 {
    column-gap: 60px;
  }

  @include vp-767 {
    gap: 0;
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  button {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    color: $color-default-white;
    border: 3px solid $color-default-white;
    background-color: transparent;
    font-family: $ff-secondary;
    font-weight: 700;
    font-size: 14px;
    line-height: 16.41px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    padding: 20px 0;

    @include vp-1199 {
      padding: 19px 0;
    }

    @include vp-767 {
      width: 100%;
      margin-top: 10px;
    }
  }
}

.free-lesson__input {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  input {
    position: relative;
    padding: 0;
    color: $color-default-white;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $color-default-white;
  }

  @include vp-767 {
    width: 100%;
    margin-bottom: 51px;
  }
}

::-webkit-input-placeholder {
  /* WebKit browsers */
  font-family: $ff-secondary;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.41px;
  color: $color-default-white;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-family: $ff-secondary;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.41px;
  color: $color-default-white;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-family: $ff-secondary;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.41px;
  color: $color-default-white;
}

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  font-family: $ff-secondary;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.41px;
  color: $color-default-white;
}
