.free-lesson {
  width: 50%;


  background-color: $color-default-sapphire;
  color: $color-default-white;
  max-height: 337px;

  @include vp-1199 {
    width: 100%;
    margin: 0 auto;
  }

  @include vp-767 {
    max-height: 386px;
  }

  h2 {
    max-width: 683px;
    padding: 0 0 0 105px;
    margin: 57px 0 21px auto;
    font-family: $ff-primary;
    font-weight: 600;
    font-size: 54px;
    line-height: 81.24px;
    letter-spacing: 2.2px;
    -webkit-text-stroke-width: 2px;
    text-align: left;

    @include vp-1199 {
      font-size: 42px;
      line-height: 50.4px;
      letter-spacing: 1.5px;
      -webkit-text-stroke-width: 0;
      text-align: left;
      margin: 62px auto 26px 0;
      padding: 0 0 0 133px;
    }

    @include vp-767 {
      margin: 65px auto 28px 0;
      padding: 0 0 0 15px;
      font-size: 32px;
      line-height: 38.4px;
      letter-spacing: 1px;
    }
  }
}

.free-lesson__wrapper {
  width: 100%;
  max-width: 683px;
  padding: 0 170px 0 105px;
  margin-top: -10px;
  margin-bottom: 70px;

  display: grid;
  margin-left: auto;

  grid-template-columns: auto auto;
  grid-template-rows: repeat(2, auto);
  gap: 30px 30px;

  @include vp-1199 {
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 68px;
    padding: 0 163px 0 133px;

    column-gap: 60px;
  }

  @include vp-767 {
    padding: 0 15px 0 15px;

    gap: 0;
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  button {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    color: $color-default-white;
    border: 3px solid $color-default-white;
    background-color: transparent;
    font-family: $ff-secondary;
    font-weight: 700;
    font-size: 14px;
    line-height: 16.41px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    padding: 15px 160px;
    cursor: pointer;
    user-select: none;

    @include vp-1199 {
      padding: 15px 0;
    }

    @include vp-767 {
      width: 100%;
      margin-top: 12px;
      padding: 16px 0;
    }

    &:hover,
    &:focus {
      color: $color-egyptian-blue;
      background-color: $color-default-white;
      outline: none;
    }

    &:active {
      color: $color-default-sapphire;
    }
  }
}

.free-lesson__input {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  input {
    position: relative;
    padding: 13px 10px 6px 0;
    color: $color-default-white;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $color-default-white;
    font-family: $ff-secondary;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.41px;

    &::placeholder {
      color: $color-default-white;
    }

    @include vp-1199 {
      padding: 13px 10px 3px 0;
    }

    @include vp-767 {
      padding: 11px 10px 5px 0;
    }
  }

  @include vp-767 {
    width: 100%;
    margin-bottom: 51px;
  }
}
