.hero {
  width: 100%;
  font-family: $ff-primary;
  color: $color-default-white;
  background: conic-gradient(from 151deg at 16.03% 39.06%, #003d85 32.24deg, #b80027 304deg, #003d85);
}

.hero__wrapper {

  margin: 0 auto;
  padding: 51px 303px 51px 122px;
  display: grid;
  grid-template-columns: 1fr 500px;
  gap: 20px 64px;

  @include vp-1199 {
    padding: 82px 45px 81px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 28px;
  }

  @include vp-767 {
    padding: 115px 15px 76px;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0;
  }
}

.hero__info {
  padding: 127px 0 0;
  display: grid;
  grid-template-columns: 129px 248px;
  text-align: right;


  @include vp-1199 {
    padding: 79px 0 0;
    grid-template-columns: 129px 187px;
    column-gap: 8px;
  }

  @include vp-767 {
    margin: 0 auto;
    padding: 22px 0 0;
    // padding: 0;
    grid-template-columns: 113px 188px;
    column-gap: 0;
  }
}

.hero__info p {

  grid-column: 2 / 3;
  grid-row: 1 / 2;
  margin: 0;
  margin-top: -16px;
  padding: 0;
  padding-right: 51px;
  display: inline-block;

  font-weight: 600;
  font-size: 48px;
  line-height: 57.6px;
  letter-spacing: 1.2px;
  text-transform: lowercase;

  @include vp-1199 {
    margin-top: -28px;
    padding-right: 0;

    font-size: 34px;
    line-height: 40.8px;
    letter-spacing: 2px;
  }

  @include vp-767 {
    padding-right: 13px;
    margin-bottom: 20px;
    font-size: 28px;
    line-height: 33.6px;
    letter-spacing: 1.5px;
  }
}

.hero__info h1 {

  grid-column: 2 / 3;
  grid-row: 2 / 3;
  margin: 0;
  margin-top: -5px;
  padding: 0;

  font-family: $ff-primary;
  font-weight: 600;
  font-size: 92px;
  line-height: 110.4px;
  letter-spacing: 4px;
  text-align: right;
  text-transform: uppercase;
  -webkit-text-stroke: 2px $color-default-white;

  @include vp-1199 {
    font-size: 72px;
    line-height: 86.4px;
    letter-spacing: 4px;
    text-transform: none;
  }

  @include vp-767 {
    margin: -5px 10px 24px -10px;

  }
}


.hero__list {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  margin: 0;
  padding: 54px 16px 0 0;

  list-style: none;
  font-family: $ff-secondary;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  align-self: center;

  @include vp-1199 {
    padding: 56px 16px 0 0;

  }

  @include vp-767 {
    padding: 0;
    padding-top: 15px;
  }
}

.hero__item {
  @include vp-1199 {}

  @include vp-767 {}
}

.hero__button {
  width: 100%;
  max-width: 230px;
  margin: 0;
  margin-top: 4px;
  padding: 20px 54px;
  display: inline-block;
  grid-column: 1 / 2;
  justify-self: flex-end;
  align-self: flex-start;


  font-family: $ff-secondary;
  color: inherit;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  line-height: 14.06px;
  letter-spacing: 0.3px;
  color: $color-default-white;
  background-color: transparent;
  border: 4px solid $color-default-white;
  cursor: pointer;

  @include vp-1199 {
    max-width: 183px;
    margin-top: -3px;
    padding: 21px 31px;

  }

  @include vp-767 {
    min-width: 290px;
    grid-column: 1 / 3;

  }
}

.hero__image {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  @include vp-1199 {}

  @include vp-767 {
    display: none;
  }
}
