.subscription {
  width: 100%;
  background-color: $color-ghost-white;
  position: relative;
  padding: 120px 103px;
  margin: 0 auto;

  @include vp-1199 {
    padding: 100px 163px;
  }

  @include vp-767 {
    display: flex;
    justify-content: center;
    padding: 63px 15px 70px;
  }

  &::after {
    position: absolute;
    z-index: 2;
    content: "";
    top: calc(100% - 275px);
    left: calc(100% - 295px);
    rotate: 10deg;
    width: 321px;
    height: 384px;
    background-color: transparent;
    background-image: url("../img/weights/weights-desktop.png");
    background-repeat: no-repeat;
    background-size: 321px 384px;
    background-position: bottom right;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/weights/weights-desktop@2x.png");
      background-repeat: no-repeat;
      background-size: 321px 384px;
      background-position: bottom right;
    }

    @include vp-1199 {
      top: calc(100% - 250px);
      left: calc(100% - 289px);
      rotate: 0deg;
      width: 289px;
      height: 345px;
      background-image: url("../img/weights/weights-tablet.png");
      background-repeat: no-repeat;
      background-size: 289px 345px;
      background-position: bottom right;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/weights/weights-tablet@2x.png");
        background-repeat: no-repeat;
        background-size: 289px 345px;
        background-position: bottom right;
      }
    }

    @include vp-767 {
      display: none;
    }
  }
}

.subscription__wrapper {
  position: relative;
  z-index: 3;

  h2 {
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
    font-family: $ff-primary;
    font-weight: 600;
    font-size: 54px;
    line-height: 64.8px;
    letter-spacing: 1.2px;
    text-align: center;

    @include vp-1199 {
      margin-bottom: 20px;
      font-size: 42px;
      line-height: 50.4px;
      letter-spacing: 1.2px;
    }

    @include vp-767 {
      font-size: 32px;
      line-height: 38.4px;
      letter-spacing: 1.2px;
    }
  }

}

.subscription__tabs {
  max-width: 100%;
}

.subscription__controls {
  position: relative;
  margin: 0 0 38px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 36px;

  @include vp-1199 {
    margin-bottom: 44px;
    column-gap: 44px;
  }

  @include vp-767 {
    margin-bottom: 34px;
  }

  &::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 341px;
    height: 2px;
    background-color: $color-grey;
    opacity: 0.2;
  }

  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
  }
}

.subscription__control {
  position: relative;
  cursor: pointer;
  padding: 0 4px 16px;
  margin: 0;
  opacity: 0.5;
  min-width: auto;
  justify-content: center;
  border: none;
  background-color: transparent;
  font-family: $ff-secondary;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: $color-default-sapphire;

  @include vp-1199 {
    padding: 0 4px 13px;
    font-family: $ff-secondary;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
  }

  @include vp-767 {
    padding: 0;
    padding-bottom: 15px;
    font-family: $ff-secondary;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  &.is-active {
    opacity: 1;
    pointer-events: none;
  }

  &.is-active::before {
    position: absolute;
    content: "";
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    border-bottom: 2px solid $color-crimson;
  }
}

.subscription__content {
  margin: 0;
  transition: height 0.3s;
}

.subscription__element {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: $ff-secondary;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: $color-default-sapphire;

  @include vp-1199 {
    flex-direction: column;
  }

  p {
    margin: 0;
  }

  .subscription__element-wrapper {
    position: relative;
    list-style: none;
    padding: 62px 77px;
    max-width: 360px;
    height: 100%;
    min-height: 448px;
    background-color: $color-default-white;
    box-sizing: border-box;

    @include vp-1199 {
      padding: 62px 118px;
      max-width: 442px;
    }

    @include vp-767 {
      padding: 52px 42px;
      max-width: 290px;
      min-height: 384px;
    }

    &:not(:last-child) {
      margin-right: 40px;

      @include vp-1199 {
        margin-right: 0;
        margin-bottom: 40px;
      }

      @include vp-767 {
        margin-bottom: 35px;
      }
    }

    &:hover {
      &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        max-width: 360px;
        max-height: 448px;
        top: 0;
        right: 0;
        border: 7px solid $color-torch-red;
        border-image: $torch-red-to-cobalt;
        border-image-slice: 1;

        @include vp-1199 {
          max-width: 442px;
        }

        @include vp-767 {
          max-width: 290px;
          min-height: 384px;
        }
      }
    }

    h3 {
      padding: 0;
      margin: 0;
      font-family: $ff-secondary;
      font-weight: 700;
      font-size: 26px;
      line-height: 28.64px;
      margin-bottom: 10px;

      @include vp-767 {
        font-family: $ff-secondary;
        font-weight: 700;
        font-size: 22px;
        line-height: 24.23px;
      }
    }

    p {
      padding: 0;
      margin: 0;
      margin-bottom: 66px;
      font-family: $ff-secondary;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;

      @include vp-767 {
        margin-bottom: 52px;
      }
    }
  }

  .subscription__btn {
    position: relative;
    display: block;
    width: 206px;
    padding: 24px;
    font-family: $ff-secondary;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    text-align: center;
    color: $color-default-sapphire;
    background-color: transparent;
    border: 2px solid $color-resolution-blue;

    &:hover,
    &:focus-visible {
      padding: 26px;
      color: $color-default-white;
      background: $btn-torch-red-to-cobalt;
      border: none;
      outline: none;
    }

    &:active {
      color: $color-default-white;
    }

    @include vp-767 {
      padding: 25px;

      &:hover,
      &:focus-visible {
        padding: 27px;
      }
    }
  }

  .subscription__text {
    position: relative;
    z-index: 2;
    margin-bottom: 35px;

    @include vp-767 {
      margin-bottom: 30px;
    }

    &::before {
      position: absolute;
      content: attr(data-text);
      z-index: 1;
      top: 0;
      left: 0;
      bottom: calc(100% - 100px);
      transform: translateY(-50%);
      font-family: $ff-secondary;
      font-weight: 700;
      font-size: 100px;
      line-height: 150px;
      color: $color-whisper;
      opacity: 0.4;

      @include vp-767 {
        font-family: $ff-secondary;
        font-weight: 700;
        font-size: 80px;
        line-height: 120px;
        top: 0;
        left: calc(50% - 80px);
        bottom: calc(100% - 90px);
        transform: translateY(-50%);
      }
    }

    span {
      position: relative;
      z-index: 2;
      margin-right: 8px;
      font-family: $ff-secondary;
      font-weight: 700;
      font-size: 60px;
      line-height: 90px;
      color: $color-egyptian-blue;

      @include vp-767 {
        font-family: $ff-secondary;
        font-weight: 700;
        font-size: 48px;
        line-height: 72px;
      }
    }

    svg {
      display: inline-block;
      position: relative;
      z-index: 2;
    }
  }
}
